@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600&display=swap");

:root {
  --primary-color: #242424;
  --second-color: #f8f9fa;
  --third-color: #deefff;
}

* {
  font-family: "Lexend", sans-serif;
  color: var(--primary-color);
}

.linknav {
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 400;
  color: var(--second-color);
  text-decoration: none;
}

.linknav:hover {
  transition: 300ms;
  background-color: #0e155a;
  border-radius: 3px;
}

.warnanav {
  background-color: #090e3a;
}

#offcannav {
  background-color: #181e56eb;
  width: 70%;
  height: 100%;
}

#hero {
  border-top: 1px solid #181e56;
  padding-top: 150px;
  background-color: #090e3a;
  height: 500px;
}

#homePage {
  height: 1800px;
}

#technologyPage {
  height: 1500px;
}

#softwarePage {
  height: 1500px;
}

#gamesPage {
  height: 1500px;
}

#moviesPage {
  height: 1500px;
}

#Footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #090e3ad4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8892b5;
}

@media only screen and (max-width: 600px) {
  .linknav {
    padding: 10px 0;
  }

  .iklan {
    width: 100%;
    height: 200px;
  }
}
